[submodule "rd-submodules/retroarch"]
	path = rd-submodules/retroarch
	url = https://github.com/flathub/org.libretro.RetroArch
[submodule "rd-submodules/shared-modules"]
	path = rd-submodules/shared-modules
	url = https://github.com/flathub/shared-modules.git