[Desktop Entry]
Name=RetroDECK Configurator
GenericName=RetroDECK Configuration Utility
Type=Application
Comment=A handy multi-tool for managing all of RetroDECK
Icon=net.retrodeck.retrodeck.configurator
Exec=/bin/bash /app/tools/configurator.sh
Terminal=false
StartupNotify=false
Keywords=multi;engine;emulator;standalone;steam;deck
Categories=Game;Emulator;
