[Desktop Entry]
Name=RetroDECK
GenericName=All-in-One Retro Gaming Platform
Type=Application
Comment=Your all-in-one retro gaming platform, made easy for your device
Icon=net.retrodeck.retrodeck
Exec=
Terminal=false
StartupNotify=false
Keywords=multi;engine;emulator;standalone;steam;deck;retro;games;roms;console;classic;gamepad;arcade
MimeType=application/retro-game;application/vnd.nintendo.snes.rom;application/x-atari-2600-rom;application/x-atari-7800-rom;application/x-atari-lynx-rom;application/x-dreamcast-rom;application/x-gameboy-color-rom;application/x-gameboy-rom;application/x-gamecube-rom;application/x-gamegear-rom;application/x-gba-rom;application/x-gd-rom-cue;application/x-genesis-32x-rom;application/x-genesis-rom;application/x-msx-rom;application/x-n64-rom;application/x-neo-geo-pocket-color-rom;application/x-neo-geo-pocket-rom;application/x-nes-rom;application/x-nintendo-3ds-rom;application/x-nintendo-ds-rom;application/x-pc-engine-rom;application/x-saturn-rom;application/x-sega-cd-rom;application/x-sega-pico-rom;application/x-sg1000-rom;application/x-sms-rom;application/x-virtual-boy-rom;application/x-wii-rom;application/x-wonderswan-color-rom;application/x-wonderswan-rom
Categories=Game;Emulator;