[Desktop Entry]
Name=RetroDECK
GenericName=Universal Emulator Platform
Type=Application
Comment=All-in-one emulation solution for Steam Deck and Linux desktops, making emulation easy and accessible
Icon=net.retrodeck.retrodeck
Exec=
Terminal=false
StartupNotify=false
Keywords=multi;engine;emulator;standalone;steam;deck;retro;games;roms;console;classic;gamepad;arcade
Categories=Game;Emulator;