[Desktop Entry]
Name=Play with RetroDECK
GenericName=Play with RetroDECK
Type=Application
NoDisplay=true
Comment=Launch a game with RetroDeck
Icon=net.retrodeck.retrodeck
Exec=flatpak run net.retrodeck.retrodeck start %f
Terminal=false
MimeType=application/retro-game;
X-Flatpak=net.retrodeck.retrodeck

