name: "Build cooker"

on:
  push:
    branches:
     - cooker*
     - feat*
     - branch/cooker*
    paths:
     - '.github/workflows/**'
     - 'automation_tools/**'
     - 'config/**'
     - 'functions/**'
     - 'rd-submodules/**'
     - '*.sh'
     - 'net.retrodeck.retrodeck.yml'
     - 'net.retrodeck.retrodeck.appdata.xml'
  pull_request:

  # Italy (CET): 11:00 PM
  # Japan (JST): 7:00 AM
  # schedule:
  #  - cron: '0 22 * * *'

  workflow_dispatch:

permissions:
  contents: write

jobs:

  Building_RetroDECK:
    runs-on: retrodeck
    steps:

      # Circumventing this bug: https://github.com/flatpak/flatpak-builder/issues/317
      - name: Remove stuck mounts
        run: |
          sudo umount -f /home/ubuntu/actions-runner/_work/RetroDECK/RetroDECK/.flatpak-builder/rofiles/*
          sudo umount -f $HOME/actions-run/_work/RetroDECK/RetroDECK/.flatpak-builder/rofiles/*
        run: |
          sudo umount -f /home/ubuntu/actions-runner/_work/RetroDECK/RetroDECK/.flatpak-builder/rofiles/*
          sudo umount -f $HOME/actions-run/_work/RetroDECK/RetroDECK/.flatpak-builder/rofiles/*
        continue-on-error: true

      - name: Generate a token for Rekku
        id: generate-rekku-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ vars.REKKU_APP_ID }}
          private-key: ${{ secrets.REKKU_PRIVATE_KEY }}
          repositories: "RetroDECK,Cooker"
          owner: "RetroDECK"
    
      - name: Clone RetroDECK repo
        uses: actions/checkout@v4
        with:
          submodules: 'true'
        
      - name: "Install dependencies"
        run: "automation_tools/install_dependencies.sh"    

      - name: Generate cooker build ID
        run: "/bin/bash ${GITHUB_WORKSPACE}/automation_tools/cooker_build_id.sh"

      - name: Get branch name
        id: branch_name
        run: |
          if [[ "$GITHUB_EVENT_NAME" == "pull_request" || "$GITHUB_EVENT_NAME" == "pull_request_target" ]]; then
            source_branch="${{ github.head_ref }}"
            echo "BRANCH_NAME=$source_branch" >> $GITHUB_ENV
          else
            branch_name=$(echo $GITHUB_REF | sed 's|refs/heads/||')
            echo "BRANCH_NAME=$branch_name" >> $GITHUB_ENV
          fi
        run: |
          if [[ "$GITHUB_EVENT_NAME" == "pull_request" || "$GITHUB_EVENT_NAME" == "pull_request_target" ]]; then
            source_branch="${{ github.head_ref }}"
            echo "BRANCH_NAME=$source_branch" >> $GITHUB_ENV
          else
            branch_name=$(echo $GITHUB_REF | sed 's|refs/heads/||')
            echo "BRANCH_NAME=$branch_name" >> $GITHUB_ENV
          fi
      
      # if the branch is coming from a PR the tag should be manually built
      - name: "Generate version tag and evaluating latest tag"
        run: |
          # Source the version extractor script to get the manifest version
          source automation_tools/version_extractor.sh
          MANIFEST_VERSION="$(fetch_manifest_version)"
          echo "MANIFEST_VERSION=$MANIFEST_VERSION" >> $GITHUB_ENV

          # Check if the event is related to a pull request
          if [[ "$GITHUB_EVENT_NAME" == "pull_request" || "$GITHUB_EVENT_NAME" == "pull_request_target" ]]; then
            # Use GITHUB_HEAD_REF to get the source branch
            source_branch="${GITHUB_HEAD_REF}"

            # Replace '/' with '-' in the branch name
            source_branch=${source_branch//\//-}
            # Use GITHUB_HEAD_REF to get the source branch
            source_branch="${GITHUB_HEAD_REF}"

            # Replace '/' with '-' in the branch name
            source_branch=${source_branch//\//-}
            echo "[DEBUG] source branch is: $source_branch"

            # Generate the tag for a pull request
            echo "TAG=PR-$source_branch-${{ env.buildid }}" >> $GITHUB_ENV
            echo "MAKE_LATEST=false" >> $GITHUB_ENV  # Not marked as the latest cooker version if it's a feature branch
          else
            # Generate the tag for non-pull request branches
            # Generate the tag for non-pull request branches
            TAG="$MANIFEST_VERSION-${{ env.buildid }}"
            echo "TAG=$TAG" >> $GITHUB_ENV
            echo "MAKE_LATEST=true" >> $GITHUB_ENV
          fi

          # Output the manifest version and generated tag for debugging
          echo "MANIFEST_VERSION: $MANIFEST_VERSION"
          echo "Version TAG: $TAG"
          echo "MAKE_LATEST: $MAKE_LATEST"

      # backing up manifest in case download fails and hashes must be recalculated
      - name: Manifest backup
        run: "cp ${GITHUB_WORKSPACE}/net.retrodeck.retrodeck.yml ${GITHUB_WORKSPACE}/net.retrodeck.retrodeck.yml.bak"

      - name: Run pre-build automation tasks
        run : "/bin/bash ${GITHUB_WORKSPACE}/automation_tools/pre_build_automation.sh"

      - name: "Adding flatpak portal for automated updates (cooker only)"
        run: "/bin/bash ${GITHUB_WORKSPACE}/automation_tools/cooker_flatpak_portal_add.sh"

      - name: "Updating release notes in appdata"
        run: "automation_tools/appdata_management.sh"

      - name: "[DEBUG] Outputting manifest"
        run: cat net.retrodeck.retrodeck.yml

      - name: "Build flatpak: download only"
        id: "flatpak-download"
        run: "/bin/bash ${GITHUB_WORKSPACE}/automation_tools/flatpak_build_download_only.sh"
        continue-on-error: true

      # Sometimes flatpak download fails, in this case it tries a second time
      - name: "Build flatpak: download only (retry)"
        if: steps.flatpak-download.outcome == 'failure'
        run: |
          echo "Download failed, maybe some hash changed since the build start."
          echo "Recalculating hashes and retrying download..."
          rm -f "{GITHUB_WORKSPACE}/net.retrodeck.retrodeck.yml"
          cp "${GITHUB_WORKSPACE}/net.retrodeck.retrodeck.yml.bak" "${GITHUB_WORKSPACE}/net.retrodeck.retrodeck.yml"
          "${GITHUB_WORKSPACE}/automation_tools/pre_build_automation.sh"
          "${GITHUB_WORKSPACE}/automation_tools/flatpak_build_download_only.sh"

      - name: Build flatpak
        run: "/bin/bash ${GITHUB_WORKSPACE}/automation_tools/flatpak_build_only.sh"

      - name: Create Bundle
        run: "/bin/bash ${GITHUB_WORKSPACE}/automation_tools/flatpak_build_bundle.sh"

      - name: Set environment variable with current branch name
        run: echo "GITHUB_REF_SLUG=$(git rev-parse --abbrev-ref HEAD)" >> $GITHUB_ENV

      - name: Get commits since last release
        run: |
          # Get the latest release tag
          LATEST_TAG=$(git describe --tags --abbrev=0)
          # Get all commits since the latest release tag
          COMMITS=$(git log $LATEST_TAG..HEAD --pretty=format:"- %s")
          # Set the output variable
          echo "::set-output name=commits::$COMMITS"
        id: commits
        continue-on-error: true

      - name: Publish the flatpak in a new cooker release
        uses: ncipollo/release-action@v1
        with:
          tag: "${{env.TAG}}"
          body: |
            # Release Notes (Cooker)
            This is a cooker snapshot based on the commit: ${{ github.event.repository.full_name }}@${{github.sha}}.
            On branch [${{env.BRANCH_NAME}}](https://github.com/RetroDECK/RetroDECK/tree/${{env.BRANCH_NAME}}).

            ## Commits since last release
            ${{ steps.commits.outputs.commits }}

            For the full release note for this build please refer to the channel [#BETA-TESTING](https://discord.gg/WDc5C9YWMx) on our Discord server.
      
            Cooker channel is provided for the community to test fixes and explore new functionality.
            Please DO NOT open issues or ask support on this build.

          artifacts: "RetroDECK-cooker.flatpak,RetroDECK-cooker.flatpak.sha,RetroDECK-Artifact.tar.gz"
          allowUpdates: true
          makeLatest: ${{env.MAKE_LATEST}} # if it's a feat branch is not considered the latest build
          token: ${{ steps.generate-rekku-token.outputs.token }}
          repo: Cooker
        continue-on-error: true

      - name: Rewrite Tag
        run: |
          git submodule deinit -f --all
          git fetch --tags
          git config --global user.name "Rekku"
          git config --global user.email "rekku@retrodeck.net"
          if git rev-parse --verify "${{ env.TAG }}" >/dev/null 2>&1; then # if the tag exists
              git tag -d "${{ env.TAG }}"                                  # remove it from local repo
              git push --delete origin "${{ env.TAG }}"                    # and from remote
          fi
          git tag "${{ env.TAG }}"             # Create the tag locally               
          git push origin "${{ env.TAG }}"     # Push the new tag in the remote repo
        env:
          GITHUB_TOKEN: ${{ steps.generate-rekku-token.outputs.token }}

      # In case it cannot publish the release at least it's providing the flatpak file for creating a manual release
      - name: Upload RetroDECK-cooker.flatpak
        uses: actions/upload-artifact@v4
        with:
          name: retrodeck-flatpak
          path: RetroDECK-cooker.flatpak
        continue-on-error: true

      - name: Create Artifact for flathub
        run: | 
          tar -czf ${GITHUB_WORKSPACE}/RetroDECK-Artifact-cooker.tar.gz -C ${GITHUB_WORKSPACE}/retrodeck-flatpak-cooker .
          hash=($(sha256sum ${GITHUB_WORKSPACE}/RetroDECK-Artifact-cooker.tar.gz))
          echo $hash > ${GITHUB_WORKSPACE}/RetroDECK-Artifact-cooker.sha
          mv -f RetroDECK-Artifact-cooker.* ${{ secrets.ARTIFACT_REPO }}
        continue-on-error: true

      # - name: Upload RetroDECK-cooker.flatpak to Gitea Release
      #   run: |
      #     # Set variables for Gitea host, organization, repository, access token, and release details
      #     GITEA_HOST="repo.retrodeck.net"
      #     UPLOAD_HOST="upload.retrodeck.net"
      #     ORGANIZATION="RetroDECK"
      #     REPO="RetroDECK-cooker"
      #     GITEA_TOKEN="${{ secrets.GITEA_TRIGGER_BUILD_TOKEN }}"
      #     RELEASE_NAME="RetroDECK ${{env.TAG}}"
      #     TAG="${{env.TAG}}"
      #     RELEASE_BODY="# Release Notes (Cooker)
      #     This is a cooker snapshot based on the commit: ${{ github.event.repository.full_name }}@${{github.sha}}.
      #     On branch [${{env.BRANCH_NAME}}](https://repo.retrodeck.net/RetroDECK/RetroDECK/src/branch/${{env.BRANCH_NAME}}).

      #     ## Commits since last release
      #     ${{ steps.commits.outputs.commits }}

      #     For the full release note for this build please refer to the channel [#BETA-TESTING](https://discord.gg/WDc5C9YWMx) on our Discord server.

      #     Cooker channel is provided for the community to test fixes and explore new functionality.
      #     Please DO NOT open issues or ask support on this build."

      #     # Create a release using curl and capture the release ID
      #     release_response=$(curl -X POST \
      #         -H "Authorization: token ${GITEA_TOKEN}" \
      #         -H "Content-Type: application/json" \
      #         -d "{\"tag_name\":\"$TAG\",\"name\":\"$RELEASE_NAME\",\"body\":\"$RELEASE_BODY\"}" \
      #         "http://$GITEA_HOST/api/v1/repos/$ORGANIZATION/$REPO/releases")

      #     # Extract the release ID from the response
      #     release_id=$(echo $release_response | jq -r '.id')

      #     # Upload artifacts
      #     curl -X POST \
      #         -H "Authorization: token ${GITEA_TOKEN}" \
      #         -H "X-GitHub-Token: ${{ secrets.UPLOAD_TOKEN }}" \
      #         -H "Content-Type: multipart/form-data" \
      #         -F "attachment=@RetroDECK-cooker.flatpak" \
      #         "http://$UPLOAD_HOST/api/v1/repos/$ORGANIZATION/$REPO/releases/$release_id/assets?name=RetroDECK-cooker.flatpak"

      #     # Upload artifacts sha
      #     curl -X POST \
      #         -H "Authorization: token ${GITEA_TOKEN}" \
      #         -H "X-GitHub-Token: ${{ secrets.UPLOAD_TOKEN }}" \
      #         -H "Content-Type: multipart/form-data" \
      #         -F "attachment=@RetroDECK-cooker.flatpak.sha" \
      #         "http://$UPLOAD_HOST/api/v1/repos/$ORGANIZATION/$REPO/releases/$release_id/assets?name=RetroDECK-cooker.flatpak.sha"

      #     curl -X POST \
      #         -H "Authorization: token ${GITEA_TOKEN}" \
      #         -H "X-GitHub-Token: ${{ secrets.UPLOAD_TOKEN }}" \
      #         -H "Content-Type: multipart/form-data" \
      #         -F "attachment=@RetroDECK-Artifact.tar.gz" \
      #         "http://$UPLOAD_HOST/api/v1/repos/$ORGANIZATION/$REPO/releases/$release_id/assets?name=RetroDECK-Artifact.tar.gz"
