
name: "Push branch to Flathub"

on:
  workflow_dispatch:

jobs:

  Pushing_branch_to_flathub:
    runs-on:
      - ubuntu-latest
    steps:

      - name: Checkout RetroDECK repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 1
          
      - name: Preparing data to push
        run: automation_tools/flathub_push.sh --local
        env:
          GIT_NAME: ${{ secrets.GITNAME }}
          GIT_MAIL: ${{ secrets.GITMAIL }}
          GH_TOKEN: ${{ secrets.FLATHUB_PUSH }}