# This is a basic workflow to help you get started with Actions

name: beta-build

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3

      # Runs a set of commands using the runners shell
      - name: Run a multi-line script
        run: |
          sudo ./build-flatpak.sh
          sudo flatpak-builder --user --install --force-clean retrodeck-flatpak com.xargon.retrodeck.yml
          sudo flatpak-builder --repo=local --force-clean localrepo com.xargon.retrodeck.yml
          sudo flatpak build-bundle local RetroDECK.flatpak com.xargon.retrodeck
